{% extends 'courses/base.html' %}
{% load i18n %}

{% block title %}{% trans "Impressum" %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% trans "Impressum" %}</h1>
    <p>SV Westfalia Osterwick 1923 e.V.<br>
    Hauptstraße 46<br>
    48720 Rosendahl</p>

    <p><strong>{% trans "Vorstand" %}:</strong> Daniel Kramer (1. Vorsitzender), Peter Fedders (Geschäftsführer), Ingo Röschenkemper (2. Vorsitzender), Marie Schräder (2. Vorsitzende), Eike Nonhoff (Kassierer).</p>

    <p><strong>{% trans "Registergericht" %}:</strong> Amtsgericht Coesfeld, VR 315.</p>

    <p><strong>{% trans "Kontakt" %}:</strong> Telefon 02547-933636, E-Mail <a href="mailto:lemke@westfalia-osterwick.de">lemke@westfalia-osterwick.de</a>.</p>
</div>
{% endblock %}